@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #ffffff;
  --foreground: #020817; /* slate-950 */

  --card: #ffffff;
  --card-foreground: #020817;
 
  --popover: #ffffff;
  --popover-foreground: #020817;
 
  --primary: #2563eb; /* blue-600 */
  --primary-foreground: #ffffff;
 
  --secondary: #f1f5f9; /* slate-100 */
  --secondary-foreground: #0f172a; /* slate-900 */
 
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
 
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
 
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;

  --border: #e2e8f0; /* slate-200 */
  --input: #e2e8f0;
  --ring: #2563eb;
 
  --radius: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
